# Normalização de fins de linha e classificação binária (portabilidade)
* text=auto eol=lf

*.R       text eol=lf
*.r       text eol=lf
*.py      text eol=lf
*.md      text eol=lf
*.csv     text eol=lf
*.txt     text eol=lf
*.cff     text eol=lf
*.yml     text eol=lf
*.json    text eol=lf
Dockerfile text eol=lf

*.png     binary
*.jpg     binary
*.jpeg    binary
*.rds     binary
*.docx    binary
*.xlsx    binary
*.pdf     binary
*.dbc     binary
